<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="keybind" value="W"/>
    <add key="keybind modifier" value="CTRL"/>
    <add key="theme" value="dark"/>
    <add key="color" value="green"/>
  </appSettings>
</configuration>